<div class="container mt-3">
    <h2>Bitácora</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Evento</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Evento 1</td>
          <td>Listar todos los Characters</td>
          <td>2023-12-01 2:00:00</td>
        </tr>
        <tr>
          <td>Evento 2</td>
          <td>Listar Characters por id</td>
          <td>2023-12-01 3:00:00</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  